[user]
	email = lakshmanshankarc@gmail.com
	name = Lakshmanshankar
[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    
    light = false   

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
