[user]
	email = lakshmanshankarc@gmail.com
	name = Lakshmanshankar
	signingkey = 6CE18768D6313AE41A8C960FD9341730E3EB6A10
[core]
    pager = delta
	  editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    
    light = false   

[merge]
  conflictstyle = diff3

[rebase]
	updateRefs = true

[diff]
    colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgSign = true
